a {
  text-decoration: none;
  color: #A5A5A5;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 40px;
  padding: 0 30px;
  color: #A5A5A5;
}
.header-logo img {
  width: 110px;
}
.header-nav-list {
  display: flex;
  font-size: 12px;
  font-weight: lighter;
}
.header-nav-item:not(:last-of-type) {
  margin-right: 18px;
}

.firstview {
  position: relative;
  color: #B31667;
}
.firstview img {
  display: block;
  width: 50%;
  margin: 0 0 0 auto;
}
.firstview-ttl {
  position: absolute;
  top: 10%;
  left: 20%;
  font-family: 'Indie Flower', cursive;
  font-size: 54px;
  line-height: 75px;
}
.firstview span {
  color: #08A8BE;
}
.firstview-subttl {
  position: absolute;
  top: 70%;
  left: 20%;
  font-size: 19px;
}
.firstview-text {
  position: absolute;
  top: 77%;
  left: 20%;
  font-size: 13px;
  color: #A5A5A5;
}

.news {
  margin: 50px auto;
  width: 60%;
}
.section-ttl {
  color: #B31667;
  font-family: 'Indie Flower', cursive;
  margin: 7px 0;
}
.content-ttl {
  color: #6A6A6A;
  font-size: 18px;
  font-weight: bold;
}
.news-list {
  margin: 20px 0;
  border-top: 2px solid #A5A5A5;
  border-bottom: 2px solid #A5A5A5;
  list-style-type: none;
}
.news-item {
  border-bottom: 1px solid #A5A5A5;
  margin: 24px 0;
  padding-bottom: 24px;
  width: 100%;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.news-date {
  margin-right: 15px;
}
.news-label {
  background: #B31667;
  color: #fff;
  border-radius: 30px;
  margin-right: 15px;
  padding: 2px 0;
  width: 75px;
  display: inline-block;
  text-align: center;
}

.about {
  background-color: #F5F5F5;
  width: 100%;
  padding: 20px 0;
}
.about p {
  text-align: center;
}
.about-ttl {
  color: #6A6A6A;
  font-size: 18px;
  font-weight: bold;
}
.about-content {
  display: flex;
  margin: 35px 0;
  justify-content: center;
}
.about-content-img img {
  width: 100%;
  margin-left: 50px;
}
.about-content-img {
  width: 30%;
}
.about-content-text {
  width: 30%;
  font-size: 13px;
  line-height: 170%;
  font-weight: lighter;
  color: #A5A5A5;
  margin-right: 50px;
  padding-right: 20px;
}
.about-content-text > p {
  text-align: left;
  margin-bottom: 30px;
}

.service {
  width: 70%;
  margin: 50px auto;
}
.service-grid {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 2fr 2fr;
  margin: 30px 0;
  font-size: 12px;
  line-height: 170%;
  color: #fff;
}
.service-grid img {
  width: 100px;
}
.service-box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: #B31667;
  padding: 25px;
}
.service-box1-img {
  width: 100px;
  margin: 0 auto;
}
.service-box1>p:first-of-type {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}
.service-box2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: #B35B8B;
  display: flex;
  align-items: center;
}
.service-box2-img {
  width: 100px;
  margin: 0 10px;
}
.service-box2-text {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.service-box2-text>p:first-of-type {
  margin: 10px 0;
  font-weight: bold;
}
.service-box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #B2889E;
  display: flex;
  align-items: center;
}
.service-box3-img {
  width: 100px;
  margin: 0 10px;
}
.service-box3-text {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.service-box3-text>p:first-of-type {
  margin: 10px 0;
  font-weight: bold;
}

.blog {
  background-color: #F5F5F5;
}
.blog-justify {
  width: 70%;
  padding: 20px 0;
  margin: 0 auto;
}
.blog-item {
  /* width: 70%; */
  display: flex;
  justify-content: space-between;
}
.blog-card {
  width: 30%;
  margin: 30px 0;
  position: relative;
}
.blog-card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.blog-content {
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
.blog-ttl {
  font-size: 12px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #6A6A6A;
}
.blog-cat {
  position: absolute;
  padding: 7px 15px;
  background: #B31667;
  color: #fff;
  font-size: 12px;
  border-radius: 15px 0 0 0;
}
.tag {
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  color: #A5A5A5;
}
.blog-btn {
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  padding: 15px;
  border: 2px solid #B31667;
  border-radius: 30px;
  background: #fff;
}
.blog-btn>a {
  color: #B31667;
}

.company-justify {
  width: 60%;
  margin: 30px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px auto;
  color: #6A6A6A;
}
table th, table td {
  border: 1px solid #ccc;
  padding: 15px;
  font-size: 13px;
}
table th {
  font-weight: bold;
  background-color: #dedede;
  text-align: left;
}

.randi {
  display: flex;
  justify-content: space-around;
}
.recruit-img {
  position: relative;
  width: 50%;
}
.recruit-img img {
  width: 100%;
}
.recruit-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.interview-img {
  position: relative;
  width: 50%;
}
.interview-img img {
  width: 100%;
}
.interview-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ttl {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.request {
margin: 50px auto;
}
.request-ttl {
  font-size: 14px;
  color: #6A6A6A;
  text-align: center;
}
.request-v-border {
  width: 2px;
  height: 35px;
  background-color: #B31667;
  margin: 15px auto;
}
.request-btn {
  position: relative;
  width: 230px;
  padding: 20px 0;
  color: #fff;
  border-radius: 45px;
  background: linear-gradient(90deg, #B31667, rgb(136, 0, 0));
  text-align: center;
  box-shadow: 0 5px 0 rgba(85, 0, 0, 0.8);
  margin: 10px auto 0;
  display: block;
  font-size: 14px;
}
.request-btn::before {
  content: '';
  position: absolute;
  top:  50%;
  left: 20px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
}

footer {
  background: #F5F5F5;
  font-size: 11px;
  text-align: center;
  padding: 22px;
  color: #6A6A6A;
}